.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.pem
*.key
id_rsa
id_rsa.pub
*.pfx
*.p12
*.cer
*.crt
*.der
*.jks
*.keystore
